# Homework 1 - Homework Problems

## Carter Hanford - GIS 5090

This is the python notebook for the homework problems corresponding to homework 1, from Tateosian.

### From page 54-55 - Tatoesian

In [2]:
happyCow = 'meadows.shp'
print (happyCow)

meadows.shp

In [4]:
happyCow[0] # 0 corresponds to the first letter in happycow

'm'

In [5]:
happyCow[0:5] + happyCow[-4:]

'meado.shp'

In [6]:
len(happyCow) # calculates length

11

In [8]:
happyCow[0:5] # lists first 5 characters

'meado'

In [11]:
happyCow[-4:] # lists last 4 characters

'.shp'

In [13]:
happyCow[11] # error, out of range

IndexError: string index out of range

In [15]:
happyCow[:5] # first 5 characters

'meado'

In [16]:
happyCow in "5meadows.shp" # true because meadors.shp is in the string

True

In [18]:
happyCow[5] # fifth character in string

'w'

In [19]:
'W' in happyCow # finds W in happycow - false because not in string

False

### From page 72-73 - Tatoesian

In [20]:
census = ['4', '3', '79', '1', '66', '9', '1']
print (census)

['4', '3', '79', '1', '66', '9', '1']

In [21]:
len(census) # length

7

In [24]:
census.insert(0,2)
print (census)

[2, 2, 2, '4', '3', '79', '1', '66', '9', '1']

In [27]:
census.append(2)
print (census)

[2, 2, 2, '4', '3', '79', '1', '66', '9', '1', 2, 2, 2]

In [28]:
census.remove('1')
print (census)

[2, 2, 2, '4', '3', '79', '66', '9', '1', 2, 2, 2]

In [30]:
census = '0'.join(census) # not found

TypeError: sequence item 0: expected str instance, int found

In [34]:
census.pop(3) # location of number 3 in string

'3'

In [33]:
census.count('1') # counts number of times 1 is in string

1

In [35]:
census.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [37]:
census.reverse()
print (census) # reverses order

[2, 2, 2, '79', '66', '9', '1', 2, 2, 2]

In [39]:
mylist = ["Athens", "Barcelona", "Cairo", "Florence", "Helsinki"]
print (mylist)

['Athens', 'Barcelona', 'Cairo', 'Florence', 'Helsinki']

In [41]:
len(mylist) # length of string

5

In [42]:
mylist[2] # object in 2nd position

'Cairo'

In [44]:
mylist[1:] # list string from position 1 and forward

['Barcelona', 'Cairo', 'Florence', 'Helsinki']

In [45]:
mylist[-1]

'Helsinki'

In [48]:
mylist.index("Cairo") # finds where cairo is in string

1

In [47]:
mylist.pop(1)

'Barcelona'

In [50]:
mylist.sort(reverse = True)
print (mylist) # reverses order

['Helsinki', 'Florence', 'Cairo', 'Athens']

In [53]:
mylist.append("Berlin")
print (mylist) # added berlin again

['Helsinki', 'Florence', 'Cairo', 'Athens', 'Berlin', 'Berlin', 'Berlin']