# Text Files

In this first exercise, we'll learn how to read data from and write data to text file. This is an essential skill in programming as you will frequently be creating reports, tables, and other types of text outputs. Through this exercise I want you to pay attention to the details of how to work with text files because you will find similarities between working with text files, CSV files, tables in a geodatabase, and much more.

These exercises are derived from Zandbergen Chapter 7.6 and the tutorial this tutorial called [Reading and Writing Files in Python](http://www.pythonforbeginners.com/files/reading-and-writing-files-in-python).

## Import... Nothing

What is nice about working with text files in Python is that you don't need to import a library to read or write files! The first step is to just _open_ the file. First, we'll open a file and write text to it. Then, we'll open a file and read text from it.

## Writing Data

Let's create a file that we can write to. The first step is to open it. Let's open a new file in our Week_3\data folder.

In [8]:
f = open(r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\lecture.txt", "w")

We specify "w" as the second argument because that denotes write mode. There are 4 modes that you could specify:
- r: read mode
- w: write mode
- b: binary mode
- a: append mode

If you add "+" to another mode, that means that you can either read or write in that mode.

You should see a text file named sample.txt created in your Week_3\data folder. Writing data to the file is as simple as calling _f.write_. Let's add some text to the file.

In [9]:
f.write("St. Louis University Center for Sustainability\n")
f.write(" Was merged into the Department of Atmospheric Science\n")
f.write("in 2018")

7

If we are finished writing to the file. We call _f.close_. Let's close the file.

In [10]:
f.close()

## Reading Data

Reading a text file is just as easy. Let's read the file we just wrote:

In [11]:
f = open(r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\lecture.txt", "r")

In [12]:
f.read()

'St. Louis University Center for Sustainability\n Was merged into the Department of Atmospheric Science\nin 2018'

## Question 1: What happens if you call f.read()?

If you supply a numerical argument to the read function, that argument will indicate how many characters to read from the file. FOr example, let's read the file again and only look at the first 9 characters.

In [14]:
f = open(r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\lecture.txt")
f.read(9)

'St. Louis'

## Question 2: What are the first 9 characters of the text file?

What if a file has multiple lies of text in it. Easy! YOu can use the _readlines_ function to read all of the lines.  Let's read the students.txt file in Week_3\data.

In [ ]:
f = open(r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\students.txt")
lines = f.readlines()

## Question 3: What do you get if you print our the lines variable?

At the end of every student name except the last, you should see a "\n". This is called a line separator; it denotes the end of a line in the file. You can use indexes to specify which line you want to look at. For example:

In [ ]:
lines[0] #Should return Matt

In [ ]:
lines[1] #Should return Greg

## Reading Real Data

In this exercise, we're going to read in the file coordinates.txt, remove the ID, Lat, and Lon fields, and write only the numerical values back to the text file.

First, let's open the coordinates.txt file and also a file called cleaned_coordinates.txt that we'll use as the output file for the cleaned coordinates.

In [16]:
in_file = open(r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data\coordinates.txt", "r")
out_file = open(r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data\cleaned_coordinates.txt", "w")

Let's see how we can remove the ID, Lat, and Lon text from the coordinates.txt file. We can use the str.replace() method to remove this text.

In [17]:
for line in in_file:
    str = line.replace("ID:", "")
    str = str.replace("Lat:","")
    str = str.replace("Lon:", "")
    print("Old Line: " + line)
    print("New Line: " + str)
    out_file.write(str)
    
#Let's close the files
in_file.close()
out_file.close()

Old Line: ID: 1, Lat: 24.3, Lon: 101.2

New Line:  1,  24.3,  101.2

Old Line: ID: 2, Lat: 25.4, Lon: 100.3

New Line:  2,  25.4,  100.3

Old Line: ID: 3, Lat: 24.2, Lon: 101.1

New Line:  3,  24.2,  101.1

Old Line: ID: 4, Lat: 23.7, Lon: 101.7

New Line:  4,  23.7,  101.7

Old Line: ID: 5, Lat: 22.5, Lon: 103.0

New Line:  5,  22.5,  103.0

Old Line: ID: 6, Lat: 22.9, Lon: 102.5
New Line:  6,  22.9,  102.5

## Question 4: Please submit cleaned_coordinates.txt with this weeks homework.

In this exercise, we learned how to read and write text data with Python. In the next section, we'll learn how to read and write CSV files. Notice the similarities.

# CSVs

As long as you work with data, you will encounter comma separated value (CSV) files.  CSV (Comma Separated Values) format is the most common import and export format for spreadsheets and databases. A csv file contains a number of rows, each containing a number of columns,
usually separated by commas.

Here, we'll explore how to use Python to read and parse csv files and then join that data to a spatial dataset. In our example, we will use data from [data.cms.gov](https://data.cms.gov/) on state by state enrollment into the Affordable Care Acts new [Pre-Existing Condition Insurance Plan (PCIP) program](https://data.cms.gov/Health/Monthly-Pre-Existing-Condition-Insurance-Plan-Enro/dpuq-z7nj) to make health insurance available to Americans denied coverage by private insurance companies because of a pre-existing condition.

# csv module

The csv module's purpose is to make it easier to deal with csv formatted file, especially when working with data exported from spreadsheets and databases into text files. First, let's import the csv module.

In [19]:
import csv

reading a csv file looks a lot like reading a text file. Let's read the monthly pre-existing conditionenrollment csv file and print out all of the rows.

In [20]:
csvfile = r"C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data\Monthly_Pre-Existing_Condition_Insurance_Plan_Enrollment__State_by_State.csv"

In [22]:
csv_as_list = []

with open(csvfile, 'rt') as f:
    reader = csv.reader(f)
    for row in reader:
        #print(row)
        csv_as_list.append(row)

The 'rt' tells the csv reader that we are looking at a text file. 

Notice that the header of the csv file also gets printed out. Let's use a slightly different technique to read the file in. Also, Let's separate the header from the rest of the data and set it up so that per state, we print our the monthly enrollment.

In [25]:
csv_as_list[1] # corresponds to first state in row

['Alabama',
 'Federal',
 '115',
 '123',
 '594',
 '639',
 '672',
 '711',
 '736',
 '766',
 '795',
 '820',
 '821',
 '1006',
 '972',
 '911',
 '838',
 '794',
 '735',
 '679',
 '635',
 '590',
 '559',
 '524',
 '466',
 '429',
 '389',
 '340',
 '296',
 '275',
 '230',
 '182',
 '138',
 '118',
 '103',
 '91',
 '77',
 '61']

In [27]:
import pandas as pd

In [28]:
df = pd.read_csv(csvfile)

In [29]:
df.head()

,State,Federally/State Administered,"Enrolled Through January 31, 2014","Enrolled Through December 31, 2013","Enrolled Through November 30, 2013","Enrolled Through October 31, 2013","Enrolled Through September 30, 2013","Enrolled Through August 31, 2013","Enrolled Through July 31, 2013","Enrolled Through June 30, 2013",...,"Enrolled Through October 31, 2011","Enrolled Through September 30, 2011","Enrolled Through August 31, 2011","Enrolled Through July 31, 2011","Enrolled Through June 30, 2011","Enrolled Through May 31, 2011","Enrolled Through April 30, 2011","Enrolled Through March 31, 2011","Enrolled Through February 1, 2011","Enrolled Through November 1, 2011"
0,Alabama,Federal,115,123,594,639,672,711,736,766,...,296,275,230,182,138,118,103,91,77,61
1,Alaska,State,5,25,32,34,34,36,36,38,...,45,48,45,43,47,38,35,34,32,20
2,Arizona,Federal,1373,1392,3857,4021,4154,4293,4389,4541,...,1533,1391,1178,967,759,639,573,457,374,270
3,Arkansas,Transitioned from State to Federally-administe...,126,129,648,688,716,750,767,736,...,367,333,310,291,273,254,278,226,198,147
4,California,Transitioned from State to Federally-administe...,2209,2265,11300,12122,12780,13428,13950,13874,...,4907,4294,3745,3368,2979,2659,2256,1858,1543,706

In [32]:
df.head(1)

,State,Federally/State Administered,"Enrolled Through January 31, 2014","Enrolled Through December 31, 2013","Enrolled Through November 30, 2013","Enrolled Through October 31, 2013","Enrolled Through September 30, 2013","Enrolled Through August 31, 2013","Enrolled Through July 31, 2013","Enrolled Through June 30, 2013",...,"Enrolled Through October 31, 2011","Enrolled Through September 30, 2011","Enrolled Through August 31, 2011","Enrolled Through July 31, 2011","Enrolled Through June 30, 2011","Enrolled Through May 31, 2011","Enrolled Through April 30, 2011","Enrolled Through March 31, 2011","Enrolled Through February 1, 2011","Enrolled Through November 1, 2011"
0,Alabama,Federal,115,123,594,639,672,711,736,766,...,296,275,230,182,138,118,103,91,77,61

In [36]:
df.loc[:, ['State', 'Enrolled Through November 1, 2011']]

                   State  Enrolled Through November 1, 2011
0                Alabama                                 61
1                 Alaska                                 20
2                Arizona                                270
3               Arkansas                                147
4             California                                706
5               Colorado                                434
6            Connecticut                                 22
7               Delaware                                 34
8   District of Columbia                                 10
9                Florida                                613
10               Georgia                                399
11                Hawaii                                 23
12                 Idaho                                 42
13              Illinois                                943
14               Indiana                                131
15                  Iowa                                 80
16                Kansas                                112
17              Kentucky                                 56
18             Louisiana                                 92
19                 Maine                                 13
20              Maryland                                145
21        Massachusetts*                                  0
22              Michigan                                 89
23             Minnesota                                 29
24           Mississippi                                 58
25              Missouri                                166
26               Montana                                153
27              Nebraska                                 39
28                Nevada                                125
29         New Hampshire                                 78
30            New Jersey                                216
31            New Mexico                                198
32              New York                                411
33        North Carolina                                674
34          North Dakota                                  5
35                  Ohio                                726
36              Oklahoma                                190
37                Oregon                                483
38          Pennsylvania                               2046
39          Rhode Island                                 85
40        South Carolina                                242
41          South Dakota                                 62
42             Tennessee                                171
43                 Texas                               1007
44                  Utah                                117
45              Vermont*                                  0
46              Virginia                                204
47            Washington                                139
48         West Virginia                                 15
49             Wisconsin                                307
50               Wyoming                                 49
51                 Total                              12437

In [ ]:
ifile  = open(csvfile, "rt")
reader = csv.reader(ifile)

rownum = 0
for row in reader:
    # Save header row.
    if rownum == 0:
        header = row
    else:
        colnum = 0
        for col in row:
            print(header[colnum] + ": " + str(col))
            colnum += 1
            
    rownum += 1

Here, we went through and for every state, we listed out the number of enrollees per month.

## Quetion 5: What is the most recent month for which there is data?

# CSV to ArcGIS Table

Arcpy has a very nice function called [Table to Table](http://pro.arcgis.com/en/pro-app/tool-reference/conversion/table-to-table.htm) that will convert a CSV directly to a table in a geodatabase. This is very helpful when we want to make a non-spatial spreadsheet a spatial dataset. Let's use arcpy and Table to Table to import our ACA data. Let's also import os so that we can create the output geodatabase that will contain the table.

In [37]:
import arcpy
import os

In [38]:
output_gdb = r'C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data\aca.gdb'

#Use os to split the output_gdb into a name and path
gdb_name = os.path.basename(output_gdb)
gdb_path = os.path.dirname(output_gdb)

#print the name and path to verifiy that they are correct
print(gdb_name)
print(gdb_path)

aca.gdb
C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data

Let's use arcpy to create a file geodatabase from the gdb_path and gdb_name.

In [39]:
arcpy.CreateFileGDB_management(gdb_path, gdb_name)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

Now that we've created a geodatabase, we can use [Table to Table](http://pro.arcgis.com/en/pro-app/tool-reference/conversion/table-to-table.htm) to import the CSV file into the geodatabase as a table. Let's go ahead and do that.

In [40]:
table_name = 'enrollment_by_month'
arcpy.TableToTable_conversion(csvfile, output_gdb, table_name)

## Question 6: Did it work? Open ArcMap and check!

You can use arcpy to verify that it worked. Let's do a quick check.

In [41]:
arcpy.env.workspace = output_gdb
arcpy.GetCount_management(table_name)

## Question 7: How many rows are in the table? Is this what you expected?

# Joining the Table to a Feature Class

Now that we have imported the CSV into a table, we can very easily join it to a feature class. Next, we'll do just that. We will join the table we created with a USA states feature class in order to illustrate how we can use python to automate the whole workflow of converting a CSV to a feature class.

In the Week_3\data\states_21basic folder there is a shapefile named states.shp. Let's look at that shapefile in ArcMap.
1. Open ArcMap
2. Add states.shp to the map.
3. Open the attribute table. In the attribute table, you should see a field called STATE_NAME. Verify that this is true.
4. Find you aca.gbd geodatabase. Add the enrollment_by_month table to the ArcMap Table of contents.
5. Open the enrollment_by_month table. You should see a State field. Verify that this is true.

Now we will use the [Join Field](http://pro.arcgis.com/en/pro-app/tool-reference/data-management/join-field.htm) to join the table to the states.shp shapefile. If you haven't imported arcpy yet, import arcpy. Then, let's join the data together.

In [42]:
import arcpy

states = r'C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data\states_21basic\states.shp'
state_join_field = 'STATE_NAME'
table = r'C:\Users\hanfordca\Documents\GitHub\python-programming-spring-2020\week 3\data\csv_demo_data\aca.gdb\enrollment_by_month'
table_join_field =  'State'

arcpy.JoinField_management(states, state_join_field, table, table_join_field)

## Question 8: Did it Work? Open ArcMap and verify. You may notice the some of the field names changed. Do you know why?