# Exercise 1 - Lecture 1

In [2]:
# Floating
16/3.0

5.333333333333333

In [1]:
# Yeilds a remainder
33%4

1

In [ ]:
# Variables in Python

In [3]:
x = 4

In [4]:
print(x)

4

In [5]:
y = 21

In [6]:
y/x

5.25

In [ ]:
# Working with Strings

In [18]:
first_name = "Jack"
last_name = "Dangermond"
title = "Founder of Esri"

In [19]:
print(first_name)

Jack

In [20]:
print(first_name, last_name)

Jack Dangermond

In [21]:
print(first_name, last_name, title)

Jack Dangermond Founder of Esri

In [23]:
print(first_name, last_name + ": " + title)

Jack Dangermond: Founder of Esri

In [26]:
name_and_title = first_name + " " + last_name + " " + title

In [27]:
print(name_and_title)

Jack Dangermond Founder of Esri

In [28]:
len(name_and_title)

31

In [ ]:
# Lists

In [29]:
nfl_teams = ["Chiefs", "Packers", "Titans", "49ers"]

In [30]:
print(nfl_teams)

['Chiefs', 'Packers', 'Titans', '49ers']

In [31]:
# First item in a list is Zero
# Lists start at index Zero
nfl_teams[0]

'Chiefs'

In [32]:
nfl_teams[1]

'Packers'

In [33]:
# Gives you the last item on the list
nfl_teams[-1]

'49ers'

In [34]:
# Subset/Slice of that list
nfl_teams[1:3]

['Packers', 'Titans']

In [35]:
# Length of items in the list - How many items are in the list
len(nfl_teams)

4

In [36]:
# List of numbers
my_numbers = [9, 346, 398, 9, 4, 1, 10]

In [37]:
len(my_numbers)

7

In [38]:
sum(my_numbers)

777

In [39]:
# Sort numbers from lowest to highest
my_numbers.sort()

In [40]:
my_numbers

[1, 4, 9, 9, 10, 346, 398]

In [41]:
# Flipping into reverse order
my_numbers.sort(reverse=True)

In [42]:
my_numbers

[398, 346, 10, 9, 9, 4, 1]

In [43]:
my_numbers.index(346)

1

In [44]:

nfl_teams.index('49ers')

3

# Let's try something different:
This is a markdown cell. What about functions in python?

In [45]:
dir(__builtins__)

['ArithmeticError',
 'AssertionError',
 'AttributeError',
 'BaseException',
 'BlockingIOError',
 'BrokenPipeError',
 'BufferError',
 'BytesWarning',
 'ChildProcessError',
 'ConnectionAbortedError',
 'ConnectionError',
 'ConnectionRefusedError',
 'ConnectionResetError',
 'DeprecationWarning',
 'EOFError',
 'Ellipsis',
 'EnvironmentError',
 'Exception',
 'False',
 'FileExistsError',
 'FileNotFoundError',
 'FloatingPointError',
 'FutureWarning',
 'GeneratorExit',
 'IOError',
 'ImportError',
 'ImportWarning',
 'IndentationError',
 'IndexError',
 'InterruptedError',
 'IsADirectoryError',
 'KeyError',
 'KeyboardInterrupt',
 'LookupError',
 'MemoryError',
 'ModuleNotFoundError',
 'NameError',
 'None',
 'NotADirectoryError',
 'NotImplemented',
 'NotImplementedError',
 'OSError',
 'OverflowError',
 'PendingDeprecationWarning',
 'PermissionError',
 'ProcessLookupError',
 'RecursionError',
 'ReferenceError',
 'ResourceWarning',
 'RuntimeError',
 'RuntimeWarning',
 'StopAsyncIteration',
 'StopIteration',
 'SyntaxError',
 'SyntaxWarning',
 'SystemError',
 'SystemExit',
 'TabError',
 'TimeoutError',
 'True',
 'TypeError',
 'UnboundLocalError',
 'UnicodeDecodeError',
 'UnicodeEncodeError',
 'UnicodeError',
 'UnicodeTranslateError',
 'UnicodeWarning',
 'UserWarning',
 'ValueError',
 'Warning',
 'WindowsError',
 'ZeroDivisionError',
 '__IPYTHON__',
 '__build_class__',
 '__debug__',
 '__doc__',
 '__import__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'abs',
 'all',
 'any',
 'ascii',
 'bin',
 'bool',
 'bytearray',
 'bytes',
 'callable',
 'chr',
 'classmethod',
 'compile',
 'complex',
 'copyright',
 'credits',
 'delattr',
 'dict',
 'dir',
 'display',
 'divmod',
 'enumerate',
 'eval',
 'exec',
 'filter',
 'float',
 'format',
 'frozenset',
 'get_ipython',
 'getattr',
 'globals',
 'hasattr',
 'hash',
 'help',
 'hex',
 'id',
 'input',
 'int',
 'isinstance',
 'issubclass',
 'iter',
 'len',
 'license',
 'list',
 'locals',
 'map',
 'max',
 'memoryview',
 'min',
 'next',
 'object',
 'oct',
 'open',
 'ord',
 'pow',
 'print',
 'property',
 'range',
 'repr',
 'reversed',
 'round',
 'set',
 'setattr',
 'slice',
 'sorted',
 'staticmethod',
 'str',
 'sum',
 'super',
 'tuple',
 'type',
 'vars',
 'zip']

In [46]:
round(11.9)

12

In [47]:
round(12.1)

12

In [48]:
# 2 to the third power
pow(2,3)

8

In [49]:
nfl_teams.count("Chiefs")

1

In [50]:
nfl_teams.count("C")

0

In [52]:
name_and_title.replace("Esri", "GIS")

'Jack Dangermond Founder of GIS'

In [53]:
name_and_title.upper()

'JACK DANGERMOND FOUNDER OF ESRI'

In [54]:
name_and_title.lower()

'jack dangermond founder of esri'

In [56]:
name_and_title.find("Jack")

0

In [57]:
# To Modify the string
name_and_title = name_and_title.lower()

In [58]:
name_and_title.find("jack")

0

### Joining two string objects

In [59]:
uni = ['Saint', 'Louis', 'University']

In [60]:
uni

['Saint', 'Louis', 'University']

In [63]:
# Joins everything with a space in between
space = " "

In [64]:
space.join(uni)

'Saint Louis University'

# Tuples

In [65]:
uni.append("Billikens") # changing the list, tuples do not have this ability

In [66]:
uni

['Saint', 'Louis', 'University', 'Billikens']

In [67]:
carter = ('blue eyes', 'blonde hair', 23, 6.2)

In [68]:
carter[0]

'blue eyes'

# Dictionary

In [69]:
players = {"Lebron James": 1,
          "Kevin Durant": 2,
          "Kawhi Leonard": 3}

In [70]:
players

{'Lebron James': 1, 'Kevin Durant': 2, 'Kawhi Leonard': 3}

In [71]:
players['Lebron James']

1